npm-debug.log
node_modules/
bower_components/

# rails api
# ---------

# Ignore bundler config.
api/.bundle

# Ignore all logfiles and tempfiles.
api/log/*
api/!/log/.keep
api/tmp

api/dist/
api/app/assets/javascripts/
api/app/assets/stylesheets/
