# Ignore bundler config.
.bundle

# Ignore all logfiles and tempfiles.
log/*
!/log/.keep
tmp
spec/examples.txt

# ignore frontend things
npm-debug.log
dist/*
!/dist/.keep
app/assets/javascripts/
app/assets/stylesheets/
node_modules/
bower_components/
frontend/tmp
