body {
  background-color: #FBF6E5;
}

#hello {
  font-size: 18px;
  background-color: #EAEAEA;
}

div.radio {
  border: solid #9F9F9F 1px;
  border-radius: .5em;
  padding: 5px;
  margin: 5px;

  input[type="radio"] {
    display: none;
  }

  &:hover {
    cursor: pointer;
    border: solid black 1px;
  }

  &.selected {
    background: #FFE894;
    border: solid black 1px;
  }

  label {
    cursor: pointer;
  }

  p {
    margin: 0;
    padding: 0;
    cursor: pointer;
  }
}
