body {
  background: #FBF6D1;
}

.todos {
  input[type="text"] {
    padding: 9px;
  }

  ul {
    padding: 0px;
  }

  li.todo {
    background: #FBF6F7;
    margin: 5px 0 5px;
    border: 2px solid gray;
    list-style-type: none;
    padding: 9px;
    opacity: 1.0;
    transition: opacity 0.15s ease-in-out;

    &:hover {
      cursor: pointer;
      border: 2px solid black;
    }

    &.completed {
      background: #FBF6D1;
      opacity: 0.25;
      text-decoration: line-through;
    }
  }
}
