<!DOCTYPE html>
<html>
<head>
  <title>RailsWebpack</title>
  <%= webpack_stylesheet_link_tag 'main-bundle', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<%= javascript_include_tag 'main-bundle' %>

</body>
</html>
